*, html, body{

  font-family: 'Open Sans', sans-serif;
}

label{
  color: rgb(81,187,166);
}

.row{
  margin:0px;
}

.logo{
  padding: 5px 0px 5px 0px;
}

.dropdown button{
  width: 100%;
  font-size: 14px;
  text-align: left;
}

.btn-info{
  color: #000;
  background: #fff;
  border-radius: 0px;
  border:1px solid #ccc;
}

.btn .caret{
  float: right;
  margin-top: 8px;
}

.logo h3{
  margin: 0px;
  color: rgb(31,183,166);
}

.logo img{
  border:2px solid rgb(31,183,166);
  border-radius: 7px;
}

.nav-select{
  padding: 5px;
}

.styled-select{
   width: 100%;
   height: 34px;
   overflow: hidden;
   border: 1px solid #ccc;
}

option{
  padding-top: 15px;
}

.nav-search{
  padding: 5px;
}

.nav-search input{
  border-radius: 0px;
  font-size: 12px;
}

.nav-search i{
  position: absolute;
  top: 30%;
  right: 8%;
}

.dropdown i{
  padding-right: 5px;
  font-size: 14px;
  color: rgb(31,183,166);
}

.nav-admin{
  padding: 5px;
}

.nav-admin .dropdown .btn{
  background: none;
}

.nav-admin .dropdown .btn:hover, .nav-admin .dropdown .btn:hover i{
  background: rgb(31,187,166);
  color: #fff;
}

.nav-admin .btn-info{
  border:0px;
  text-align: center;
}

.second-nav{
  background: rgb(40,203,181);
}

.second-nav .nav-pills{
  background: transparent;
  width: 100%;
}

.second-nav .nav-pills li {
  width: 10%;
}

.nav-pills li a{
 text-align: center;
 border-radius: 0px;
 color: #fff;
 padding: 20px;
}

.nav-pills li + li{
  margin: 0px;
}

.second-nav .nav-pills li.active a{
  -webkit-box-shadow: inset 2px 2px 16px -3px rgba(48, 50, 50, 0.74);
  -moz-box-shadow:    inset 2px 2px 16px -3px rgba(48, 50, 50, 0.74);
  box-shadow:         inset 2px 2px 16px -3px rgba(48, 50, 50, 0.74);
}

.nav-pills li.active a:hover{
  background: transparent;
}

.second-nav i{
  font-size: 50px;
}

.nav-pills li:nth-child(1) a{
  background: rgb(38,187,166);
}

.nav-pills li:nth-child(2) a{
  background: rgb(40,203,181);
}

.nav-pills li:nth-child(3) a{
  background: rgb(57,222,200);
}

.nav-pills li:nth-child(4) a{
  background: rgb(86,238,217);
}

.nav-pills li:nth-child(5) a{
  background: rgb(116,242,225);
}

.nav-pills li:nth-child(6) a{
  background: rgb(86,238,217);
}

.nav-pills li:nth-child(7) a{
  background: rgb(45,223,198);
}

.nav-pills li:nth-child(8) a{
  background: rgb(86,238,217);
}

.nav-pills li:nth-child(9) a{
  background: rgb(40,203,181);
}

.third-portion{
  margin-top: 20px;
}

.big-text p{
  color: rgb(182,182,182);
  font-size: 35px;
  font-weight: normal;
}

.notification-detail p{
  margin-top: 20px;
  color: rgb(182,182,182);
  font-size: 16px;
}

.tab-content-caption{
  border-bottom: 2px solid #ccc;
}

.update-detail:hover{
  cursor: pointer;
}

.update-detail p{
  padding: 8px;
  border:1px solid rgb(86,238,217);
  color: rgb(38,187,166);
}

.update-detail i{
  padding-right: 10px;
}

.content-div{
  padding: 20px;
}

.welcome-text{
  background: rgb(31,187,166);
  border: 3px dotted #fff;
  box-shadow: 0 0 0 5px rgb(31,187,166);
  padding: 0px 20px 0px 20px;
}

.welcome-text p{
  text-align: center;
  color: #fff;
}

.welcome-text p:first-child{
  font-size: 28px;
  padding-top: 80px;
}

.welcome-text p:nth-child(2){
  font-size: 34px;
  font-weight: bold;
  padding-bottom: 80px;
}

.right{
  text-align: right;
}

.requests{
  margin-top: -5px;
}

.request-pic{
  height: 63px;
  background: rgb(31,187,166);
}

.request-pic img{
  width: 100%;
  height: 100%;
}

.request-details{
  padding: 0px;
}

.request-details p{
  padding: 5px;
  background: rgb(233,233,233);
  color: #000;
}

.request-details p:first-child{
  margin-bottom: 3px;
}

.editable-options{
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ccc;
}

.editable-options .btn{
  padding: 2px;
}

.options-right-icon{
  text-align: right;
}

.options-right-icon i{
  padding: 5px;
  margin-left: 5px;
  font-size: 18px;
  background: rgb(31,187,166);
  color: #fff;
  cursor: pointer;
}

.btn-green{
  background: rgb(31,187,166);
  color: #fff;
}

.btn-nothing{
  border:1px solid rgb(31,187,166);
  color: rgb(31,187,166);
  background:#fff;
}

.btn-nothing:hover{
  color: #000;
}

.editable-content-div{
  margin-top: 10px;
  padding-bottom: 10px;
}


.notification-detail i{
  position: absolute;
  margin-top: 10px;
  padding-left: 2px;
  padding-right: 2px;
  color: rgb(81,187,166);
}

.notification-detail input{
  margin-top: 5px;
}